# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = /opt/retropie/configs/mastersystem/

input_player1_a = alt
input_player1_b = ctrl

#include "/opt/retropie/configs/all/retroarch.cfg"
